div {
    margin-top: 40px;
}

a{
    text-decoration: none;
}

button {
    padding: 10px 20px;
    margin: 20px;
}

.tag {
    margin-top: 60px;
    color: gray;
    font-size: 0.9em;
}

.log {
    max-width: 400px; 
    margin: 50px auto; 
    text-align: left;
}